{
    "tabWidth": 4,
    "semi": true,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 119,
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 100,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": true,
          "bracketSpacing": false
        }
      }
    ]
  }
